Posted at: {{listing.date}}, by:{{listing.username}} <br>
{{listing.category}} <hr> <p><img src={{listing.image}}  alt={{listing.category}}></p> <br>
{{listing.content}}
<button {{action 'delete' listing}}>Delete</button>
