<h2>The content for the {{model.username}}'s {{model.content}} {{model.category}}</h2>

{{update-listing listing=model update="update"}}

{{listing-detail listing=model destroyListing="destroyListing"}}
